<%= render 'shared/page_header', title: 'Job Applications' %>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Date of Birth</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Qualification</th>
          <th>Applied For</th>
        </tr>
      </thead>

      <tbody>
        <% @job_applications.each do |ja| %>
          <tr>
            <td><%= ja.full_name %></td>
            <td><%= ja.date_of_birth.strftime("%-d.%-m.%Y.") %></td>
            <td><%= mail_to ja.email %></td>
            <td><%= ja.phone %></td>
            <td><%= ja.address %></td>
            <td><%= ja.qualification %></td>
            <td><%= link_to "Job Ad", job_ad_path(ja.job_ad) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
