<%= render 'shared/page_header', title: t('views.job_ads.title') %>

<div class="row">
  <div class="col-12 <%= user_signed_in? ? 'col-lg-9': '' %>">
    <%= paginate @jobs %>
  </div>

  <% if user_signed_in? %>
    <div class="col-3 text-right">
      <%= link_to t('views.job_ads.add_new'), new_job_ad_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class="row align-items-stretch">
  <% @jobs.each do |job| %>
    <div class="col-lg-3 col-md-4 col-sm-12 mb-3">
      <div class="card">

        <div class="card-body position-relative">
          <h5 class="card-title">
            <%= link_to job.company_name, job_ad_path(job), class: 'card-link stretched-link' %>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= job.category %></h6>
          <p class="card-text"><%= job.name %></p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex small">
            <%= render 'shared/deadline', job: job %>
          </li>
          <% if user_signed_in? %>
          <li class="list-group-item d-flex small">
            <%= link_to t('views.job_ads.edit'), edit_job_ad_path(job), class: "card-link text-success" %>
            <%= link_to t('views.job_ads.delete'), job_ad_path(job), method: :delete, class: "card-link text-danger", data: {confirm: "Are you sure?"} %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-12">
    <%= paginate @jobs %>
  </div>
</div>
