<!DOCTYPE html>
<html class="h-100">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('app.title').html_safe %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'shared/navigation' %>

    <div class="container flex-shrink-0">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
